{% extends 'base.html.twig' %}

{% block titre %}Mon Profil{% endblock %}

{% block body %}
    <div class="container mb-5">
        <br>
        <br>
        <br>
        <br>
    </div>
    <br>
    <div class=" container my-5 px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center text-white">
        <h1> {{ participant.pseudo }} </h1>
    </div>
    <br>
    {# DIV qui permet d'afficher les informations d'un participant' #}
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center text-white">
        <div class="row"></div>
        <div class="offset-1"></div>
        <div class="col h2">
            {% if participant.profilePictureFileName %}
                <img src="{{ asset('ProfilePictures/' ~ participant.profilePictureFileName) }}" width="150px">
            {% else %}
                <img src="https://previews.123rf.com/images/diddleman/diddleman1204/diddleman120400002/13058158-no-user-profile-picture-hand-drawn-.jpg?fj=1"
                     width="270px" style="border-style: groove" alt="profilePicture">
            {% endif %}

        </div>
        <div class="offset-1"></div>

        <div class="col text-lg-start">

            <p>
                Prénom : {{ participant.firstname }}
            </p>
            <p>
                Nom : {{ participant.name }}
            </p>
            <p>
                Téléphone :
                {% if participant.phoneNumber %}
                    {{ participant.phoneNumber }}
                {% else %}
                    non renseigné

                {% endif %}
            </p>
            <p>
                Email : {{ participant.email }}
            </p>
            <p>
                Campus : {{ participant.campus.name }}
            </p>
        </div>

    </div>

{% endblock %}