{% extends 'base.html.twig' %}
{% block title %}
    Home
{% endblock %}
{% block body %}
    <div class="container h-25">

    </div>
    <br>
    <div class=" container my-5 px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center text-white">
        <h1> Créer une sortie </h1>
    </div>
    <br>

    <div class="container text-white">
    <div class="row">
    <div class="col">
        {{ form_start (formulaire) }}
        <div class="row">
            <div class="col">{{ form_row(formulaire.name) }}</div>
            <div class="col">{{ form_row(formulaire.campus) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(formulaire.dateTimeStartOuting) }}</div>
            <div class="col">{{ form_row(formulaire.duration) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(formulaire.registrationDeadLine) }}</div>
            <div class="col">{{ form_row(formulaire.maxRegistrations) }}</div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-mb-6 text-white">

                <div class="col-mb-6 text-white">

                    <div class="col">
                    </div>

                </div>

                {{ form_row(formulaire.description) }}

            </div>

            <div class="row mb-3">
                <div class="col">{{ form_row(formulaire.location) }}</div>
                <div class="col">{{ form_row(formulaire.city) }}</div>
                <div class="col-1 btn btn-secondary">+</div>
            </div>

            <div class="row">
                <div class="col-7"></div>
                <div class="col">{{ form_row(formulaire.enregistrer) }}</div>
                <div class="col">{{ form_row(formulaire.saveAndAdd) }}</div>
                <div class="col"><a class="btn btn-secondary" href="{{ path('home') }}">Annuler</a></div>

            </div>


            <div class="container mb-5">
{#                {{ form_widget (formulaire) }}#}

{#                {{ form_row(formulaire.enregistrer) }}{{ form_row(formulaire.saveAndAdd) }}#}
{#               <a href="{{ path('home') }}" class="btn btn-warning">Annuler</a>#}
                {{ form_end (formulaire) }}
            </div>
        </div>
    </div>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> #}
    {#    <script> #}
    {#        $('#app_outing_location_city').change(function () { #}
    {#            var citySelector = $(this); #}
    {#            // document.write("<h1>citySelector</h1>"); #}
    {#            $.ajax({ #}
    {#                url: "{{ path('get_location') }}", #}
    {#                type: "GET", #}
    {#                dataType: "JSON", #}
    {#                data: { #}
    {#                    cityId: citySelector.val() #}
    {#                }, #}
    {#                success: function (locations) { #}
    {#                    var locationSelect = $("#app_outing_location"); #}

    {#                    // Remove current options #}
    {#                    locationSelect.html(''); #}

    {#                    // Empty value ... #}
    {#                    locationSelect.append('<option value> Selectionnez une adresse de ' + citySelector.find("option:selected").text() + ' ...</option>'); #}


    {#                    $.each(locations, function (key, location) { #}
    {#                        locationSelect.append('<option value="' + location.id + '">' + location.name + '</option>'); #}
    {#                    }); #}
    {#                }, #}
    {#                error: function (err) { #}
    {#                    alert("An error ocurred while loading data ..."); #}
    {#                } #}
    {#            }); #}
    {#        }); #}
    {#    </script> #}
{% endblock %}