{% extends 'base.html.twig' %}
{% block title %}
    Home
{% endblock %}
{% block body %}
    <div class="container h-25">

    </div>
    <br>
    <div class=" container my-5 px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center text-white">
        <h1> Home </h1>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row text-white">
        <div class="col-md-5">
            {{ form_start(formulaire) }}
            {{ form_row(formulaire.campus) }}
            {{ form_row(formulaire.outingNameLike) }}
            <div class="container">
                <div class="row">
                    <div class="col">{{ form_row(formulaire.startingDate) }}</div>
                    <div class="col"> {{ form_row(formulaire.endingDate) }}</div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-md-5 mt-5 ps-5 mx-auto">
            {{ form_row(formulaire.isOrganizer) }}
            {{ form_row(formulaire.isRegister) }}
            {{ form_row(formulaire.isNotRegister) }}
            {{ form_row(formulaire.pastOutings) }}
            {{ form_end(formulaire) }}
        </div>
    </div>
    {% if outings %}

        <div class="affichageTableau text-white mt-5 bg-secondary" style="height: 250px ;overflow-y:scroll">
            <table class="table table-hover table-secondary">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits/places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                <tbody>
                {% set inscrit ='' %}
                {% set NonInscrit ='' %}
                {% for outing in outings %}

                <tr>
                    {% if outing.organizer.id == user.id and outing.state.id == '1' %}
                        <td><a href="{{ path('outing_update',{id:outing.id}) }}">{{ outing.name }}</a></td>
                    {% else %}
                        <td><a href="{{ path('outing_detail',{id:outing.id}) }}">{{ outing.name }}</a></td>
                    {% endif %}
                    <td>{{ outing.dateTimeStartOuting | date('d/m/Y h:m') }}</td>
                    <td>{{ outing.registrationDeadline | date('d/m/Y') }}</td>
                    <td>{{ outing.participants.count() }}/{{ outing.maxRegistrations }}</td>
                    <td>{{ outing.state.wording }}</td>
                    {% set break = false %}
                    {% for participant in outing.participants %}
                        {% if not break %}
                            {% if participant.id == user.id %}
                                {% set break = true %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if break %}
                        <td> {% set inscrit = 'inscrit' %} inscrit</td>
                    {% else %}
                        <td>{% set nonInscrit = 'non inscrit' %} non inscrit</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('show_participant',{id:outing.organizer.id }) }}">{{ outing.organizer.pseudo }}</a>
                    </td>
                    <td>
                        {% if outing.organizer.id != user.id %}
                            {% if outing.state.id != 1 %}
                                <a href="{{ path( 'outing_detail' ,{id:outing.id}) }}">Afficher</a>
                            {% endif %}
                            {% if outing.state.id == 2 %}
                                {% if inscrit %}
                                    <a href="{{ path( 'outing_withdrawn' ,{id:outing.id}) }}">Se désister</a>
                                {% else %}
                                    <a href="{{ path( 'outing_registration' ,{id:outing.id}) }}">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if outing.state.id == 1 %}
                                <a href="{{ path( 'outing_update' ,{id:outing.id}) }}">Modifier</a>
                                <a href="{{ path( 'outing_state_update' ,{id:outing.id}) }}">Publier</a>

                            {% elseif outing.state.id == 2 %}
                                <a href="{{ path( 'outing_detail' ,{id:outing.id}) }}">Afficher</a>
                                <a href="{{ path( 'outing_cancel' ,{id:outing.id}) }}">Annuler</a>
                            {% else %}
                                <a href="{{ path( 'outing_detail' ,{id:outing.id}) }}">Afficher</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    <a href="{{ path('outing_create') }}">
        <button class="btn btn-success mx-auto mt-5" type="submit" name="outingCreate">Créer une sortie</button>
    </a>
    <br>
{% endblock %}