{% extends 'base.html.twig' %}
{% block title %}
    Home
{% endblock %}
{% block body %}
    <div class="container mb-5">
        <br>
        <br>
        <br>
        <br>
    </div>
    <br>
    <div class=" container my-5 px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center text-white">
        <h1> Home </h1>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row text-white">
        <div class="col-md-6">
            {{ form_start(formulaire) }}
            {{ form_row(formulaire.campus)}}
            {{ form_row(formulaire.outingNameLike)}}
            {{ form_row(formulaire.startingDate)}}
            {{ form_row(formulaire.endingDate)}}
        </div>
        <div class="col-md-6">
            <br>
            <br>
            <br>
            {{ form_row(formulaire.isOrganizer)}}
            {{ form_row(formulaire.isRegister)}}
            {{ form_row(formulaire.isNotRegister)}}
            {{ form_row(formulaire.pastOutings)}}
            {{ form_end(formulaire) }}
        </div>
    </div>
    <div class="affichageTableau text-white">
        <table class="table table-warning">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for outing in outings %}
            {#        {% set nbInscrit = outing.participants.size() %} #}
            <tr>
                {% if outing.organizer.id == organizer.id and outing.state.id == '1' %}
                <td><a href="{{ path('outing_update',{id:outing.id}) }}">{{ outing.name }}</a></td>
                {% else %}
                <td><a href="{{ path('outing_detail',{id:outing.id}) }}">{{ outing.name }}</a></td>
                {% endif %}
                <td>{{ outing.dateTimeStartOuting | date('d/m/Y h:m:s') }}</td>
                <td>{{ outing.registrationDeadline | date('d/m/Y') }}</td>
                <td>{{ outing.participants.count() }}/{{ outing.maxRegistrations }}</td>
                <td>{{ outing.state.wording }}</td>
                {% set break = false %}
                {% for participant in outing.participants %}
                    {% if not break %}
                        {% if participant.id == organizer.id %}
                            {% set break = true %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if break %}
                    <td>inscrit</td>
                {% else %}
                    <td>non inscrit</td>
                {% endif %}
                <td><a href="{{ path('show_participant',{id:outing.organizer.id }) }}">{{ outing.organizer.pseudo }}</a>
                </td>
                <td>{% for action in actions %}
                    <a href="#">{{ action }}</a>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <br>
{% endblock %}