{% extends 'base.html.twig' %}


{% block titre %}
Modifier une sortie
{% endblock %}


{# {% block body %}
<div class="container mb-5">
        <br>
        <br>
        <br>
        <br>
    </div>
    <br>
</div>


<div class=" container my-5 px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center text-white">
<div class="row">
<div class="col-md-6 text-white">
{{ form_start(formulaire)}}
{{form(formulaire.name)}}

<p>
Adresse : {{outing.location.address}}
</p>
<p>
Code postal : {{ outing.location.city.postalcode}}
</p>
<p>
Ville : {{ outing.location.city.name}}
</p>
<p>
Latitude  : {{ outing.location.latitude}} 
</p>
<p>
Longitude : {{ outing.location.longitude}}
</p>
</div>
</div>
{{ form_widget(formulaire)}}
<div class="col-md-6 text-white">
<button class="btn btn-primary" type="submit">Modifier</button>
<button class="btn btn-success" type="submit">Publier la sortie</button>
<a href="{{path('outing_delete',{'id':outing.id})}}" class="btn btn-danger">Supprimer</a>
<a href="{{ path('home') }}" class="btn btn-warning">Annuler</a>
</div>
{{ form_rest(formulaire) }}
{{ form_end(formulaire)}}
</div>

<div class="container mb-5">
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %} #}


{% block body %}
<div class="container mb-5">
        <br>
        <br>
        <br>
        <br>
    </div>
    <br>
</div>
        <h1 class="text-center">Modifier la sortie</h1>
        <h1 class="text-center">{{ outing.name}}</h1>
       <div class="container col-md-6 text-center text-white">
        {{ form_start(formulaire) }}
        {{ form_row(formulaire.name)}}
        {{ form_row(formulaire.dateTimeStartOuting)}}
        {{ form_row(formulaire.registrationDeadLine)}}
        {{ form_row(formulaire.duration)}} 
        {{ form_row(formulaire.maxRegistrations)}}
        {{ form_row(formulaire.description)}}
        {{ form_row(formulaire.location)}}
        {# {{ form_row(formulaire.status)}} #}
        {{ form_row(formulaire.campus)}}
        {# {{ form_row(activity.organizer)}} #}
        {# {{ form_row(activity.participant)}} #}
        </div>
        <div class="align-items-center">
         {{ form_widget(formulaire) }}
         <input id="record" type="submit" name="submit" value="Enregistrer" />
         <input id="published" type="submit" name="submit" value="Publier" />
        <a href="{{path('outing_delete',{'id':outing.id})}}" class="btn btn-danger">Supprimer</a>
        <a href="{{ path('home') }}" class="btn btn-warning">Annuler</a>
        {{ form_end(formulaire) }}
        </div>
        <div class="container mb-5">
        <br>
        <br>
        <br>
        <br>
    </div>
    {% endblock %}