{% extends 'base.html.twig' %}

{% block title %}
    ShowOuting
{%  endblock %}

{% block body %}
    <div class="container mb-5">
        <br>
        <br>
        <br>
        <br>
    </div>
<div class="container my-5 px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center text-white">
<h1> {{ outing.name}} </h1>
</div>
<br>
{# Première DIV qui permet d'afficher les informations de la sortie #}
<div class="container text-white">
  <div class="row">
    <div class="col">
    <p>
    Nom de la sortie : {{ outing.name}}
    </p>
    <p>
Date et heure de la sortie : {{ outing.dateTimeStartOuting  | date('d/m/Y h:m:s')}}
</p>
<p>
Date limite d'inscription : {{ outing.registrationDeadLine  | date('d/m/Y')}}
</p>
<p>
Nombre de places : {{ outing.maxRegistrations}}
</p><p>
Durée : {{ outing.duration}} minutes
</p>
<p>
Description et infos : {{ outing.description}}
</p>
    </div>
    <div class="col">
     <p>
Campus : {{ outing.campus.name}}
</p>
<p>
Lieu de la sortie : {{ outing.location.name}}
</p>
<p>
Rue : {{ outing.location.address}}
</p>
<p>
Code postal : {{ outing.location.city.postalcode}}
</p>
<p>
Ville : {{ outing.location.city.name}}
</p>
<p>
Latitude  : {{ outing.location.latitude}} 
</p>
<p>
Longitude : {{ outing.location.longitude}}
</p>
</div> 
</div>
</div>

<br>
<br>

{# Deuxième DIV qui permet d'afficher les participants inscrits #}
<div class="col-4 text-white">
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    Liste de participants inscrits
<table class="table table-wrapper-scroll-y text-white">
    <thead>
   <tbody>
   <tr>
            <th>Pseudo</th>
            <th>Nom</th>
   </tr>
   {# outing.participants permet de récupérer les participants inscrits dans la sortie séléctionné #}
  {% for p in outing.participants %}
   <tr>
        <td>
        <a href="{{ path('show_participant',{id:p.id })}}">{{ p.pseudo}}
                </a></td> 

        <td>{{ p.name }}</td>
   </tr>
{% endfor %}
</tbody>
</thead>
</table>
</div>
</div>


{% endblock %}
