{% extends 'base.html.twig' %}

{% block title %}
    ShowOuting
{% endblock %}

{% block body %}
    <div class="container h-25">

    </div>
    <br>
    <div class=" container my-5 px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center text-white">
        <h1> {{ outing.name }} </h1>
    </div>
    <br>
    {# Première DIV qui permet d'afficher les informations de la sortie #}
    <div class="container text-white">
        <div class="row">
            <div class="col">
                <p>Sortie {{ outing.name }}<br>
                    le {{ outing.dateTimeStartOuting  | date('d/m/Y') }}
                    à {{ outing.dateTimeStartOuting  | date('h:m:s') }}
                </p>
                <p>
                    Date limite d'inscription : {{ outing.registrationDeadLine  | date('d/m/Y') }}
                </p>
                <p>
                    Nombre de places : {{ outing.maxRegistrations }}
                </p>
                <p>
                    Durée : {{ outing.duration }} minutes
                </p>
                <p>
                    Campus : {{ outing.campus.name }}
                </p>
                <p>
                    Lieu de la sortie <br>
                    {{ outing.location.name }}
                    {{ outing.location.address }}
                    {{ outing.location.city.postalcode }}
                    {{ outing.location.city.name }}
                </p>

                <p>
                    Description et infos : {{ outing.description }}
                </p>
            </div>


            {#                <p> #}
            {#                    Latitude : {{ outing.location.latitude }} #}
            {#                </p> #}
            {#                <p> #}
            {#                    Longitude : {{ outing.location.longitude }} #}
            {#                </p> #}
            <div class="col text-white">
                Liste des participants inscrits :
                {% if outing.participants.count() == 0 %}
                Aucun
                {% else %}
                <table class="table table-wrapper-scroll-y table-secondary">
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# outing.participants permet de récupérer les participants inscrits dans la sortie séléctionné #}
                    {% for p in outing.participants %}
                        <tr>
                            <td>
                                <a style="text-decoration: none" href="{{ path('show_participant',{id:p.id }) }}">{{ p.pseudo }}
                                </a></td>
                            <td>{{ p.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>


{% endblock %}
